@font-face {
  font-family: "Lato-Bold";
  src: url("fonts/Lato-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Light";
  src: url("fonts/Lato-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

body {
  max-width: 100%;
  margin: auto;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
}

.column {
  flex-direction: column;
}

.center {
  text-align: center;
}

.bold {
  font-size: 60px;
  font-family: "Lato-Bold";
}

.pink {
  color: #f16d7f;
}

/* Header */
header {
  background: #fff;
  position: relative;
}

header {
  flex-direction: column;
}

header .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #ececec;
}

.logo-container {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 13px;
}
.logo-container__name {
  font-family: "Lato-Light";
  font-size: 27px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.logo-container__name span {
  font-family: "Lato-Bold";
}

.form-search {
  width: 60%;
}
.form-search .search-container {
  width: 100%;
}
.form-search .search-container__block {
  display: flex;
}
.form-search .search-container__block details {
  padding: 10px;
  background-color: #cdcdcc;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  position: relative;
  cursor: pointer;
}
.form-search .search-container__block details .popup {
  position: absolute;
  width: 200px;
  height: 300px;
  background: #fff;
  border: 1px solid rgb(186, 183, 183);
  border-radius: 5px;
  left: 0px;
  top: 39px;
  padding: 20px;
}
.form-search .search-container__block details summary {
  font-family: "Lato-Light";
  font-size: 14px;
  letter-spacing: 0.025em;
  color: #222222;
  list-style: none;
}
.form-search .search-container__block details summary .fa {
  margin-left: 5px;
  font-size: 14px;
  color: #838383;
}
.form-search .search-container__block details summary::-webkit-details-marker {
  display: none;
}
.form-search .search-container__block input[type=text] {
  width: 317px;
  height: 38px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  margin-left: -1px;
  padding-left: 10px;
  outline: none;
}
.form-search .search-container__block button[type=submit] {
  height: 40px;
  width: 40px;
  border-radius: 0px 3px 3px 0px;
  background: #fff;
  border: 1px solid #e6e6e6;
  margin-left: -1px;
  font-size: 14px;
  cursor: pointer;
}

.menu-container {
  width: 20%;
  gap: 30px;
  display: flex;
}
.menu-container a {
  display: flex;
}
.menu-container .main-menu {
  display: flex;
}

.btn {
  padding: 10px 20px;
  color: #fff;
}
.btn .fa {
  margin-left: 12px;
  margin-top: 2px;
}

.btn-pink {
  background: #f16d7f;
}

.bottom-header {
  display: flex;
  height: 51px;
}
.bottom-header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

/* Main banner */
.main-banner {
  display: flex;
  background-image: url("img/image_frame_84.png");
  height: 665px;
  margin-top: -45px;
}

.main-banner .text-block {
  width: 50%;
}

.main-banner .text-block {
  align-items: center;
  display: flex;
  color: #222;
  font-family: "Lato";
  font-size: 40px;
  font-weight: 700;
}

.main-banner .text-block .tb_inner {
  position: relative;
  margin-left: 100px;
}

.main-banner .text-block .tb_inner::before {
  content: "";
  background: url("img/pink_rect.svg");
  width: 13px;
  height: 122px;
  position: absolute;
  left: -30px;
  top: 3px;
}

/* Pictures block */
.pictures-block {
  display: flex;
  margin: 65px 0;
}
.pictures-block .column {
  width: calc(50% - 20px);
  margin: 0 10px;
}
.pictures-block .men {
  height: 542px;
}
.pictures-block .access {
  height: 261px;
}
.pictures-block .women {
  height: 261px;
  background-position-y: -55px;
}
.pictures-block .kids {
  height: 542px;
  background-position-x: -55px;
}
.pictures-block .pb-pic {
  display: flex;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.pictures-block .pb-pic .text {
  font-family: "Lato-Bold";
  font-size: 18px;
  line-height: 170%;
  background: #fff;
  color: #222222;
  position: absolute;
  top: 25px;
  padding: 10px;
  letter-spacing: 0.025em;
}
.pictures-block .pb-pink {
  font-family: "Lato-Bold";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0;
}

/* Featured items */
.featured-items {
  display: flex;
  margin: 65px 0;
}
.featured-items .container {
  flex-direction: column;
}
.featured-items .container .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.featured-items h2 {
  font-size: 30px;
}
.featured-items .container > .row > p {
  margin-top: 10px;
  font-family: "Lato";
  margin-bottom: 30px;
}
.featured-items .fi-items {
  flex-wrap: wrap;
}
.featured-items .fi-item {
  display: flex;
  flex-direction: column;
  width: calc(25% - 20px);
  box-sizing: border-box;
  margin-bottom: 30px;
}
.featured-items .fi-item img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-items .fi-item img.backgroud {
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-items .fi-item .desc {
  padding: 20px;
  font-family: "Lato-Light";
  margin-top: -3px;
}
.featured-items .fi-item .desc h4 {
  font-family: "Lato-Light";
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 15px;
}
.featured-items .fi-item .desc p {
  margin-bottom: 15px;
}
.featured-items .fi-item .desc .price {
  color: #F16D7F;
  font-size: 16px;
}
.featured-items .fi-btn-all {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.featured-items .hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
}
.featured-items .hover a {
  color: #fff;
  padding: 10px 20px 10px 50px;
  border: 1px solid #fff;
  position: relative;
}
.featured-items .hover a::before {
  content: "";
  background: url("img/cart-white.svg");
  top: 9px;
  left: 17px;
  position: absolute;
  width: 29px;
  height: 21px;
  background-repeat: no-repeat;
  background-size: 75%;
}
.featured-items .fi-photo {
  position: relative;
}
.featured-items .fi-item:hover .hover {
  display: flex;
}
.featured-items .fi-item:hover {
  cursor: pointer;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

/* Advantages */
.advantages {
  display: flex;
  padding: 65px 0;
}
.advantages .container {
  display: flex;
  background: #222224;
}
.advantages .col-left {
  width: 68%;
  background-image: url("img/back-advantage.png"), url("img/advantage-shadow.png");
  background-size: cover;
  position: relative;
  background-blend-mode: overlay;
}
.advantages .col-left .text-adv {
  font-size: 53.7px;
  line-height: 0.8;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  position: absolute;
  top: 100px;
  left: 40px;
}
.advantages .col-left .text-adv .pink {
  font-family: "Lato-Bold";
}
.advantages .col-left .text-adv .small {
  font-size: 32.2px;
}
.advantages .col-right {
  width: 32%;
  padding: 20px;
}
.advantages .advantage-item {
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  color: #FBFBFB;
  align-items: start;
}
.advantages .advantage-item__text {
  padding-left: 40px;
  padding-right: 10px;
}
.advantages .advantage-item img {
  margin-bottom: 28px;
}
.advantages .advantage-item h2 {
  font-size: 20px;
  margin-bottom: 16px;
}
.advantages .advantage-item p {
  font-family: "Lato-Light";
  font-size: 14px;
  line-height: 24px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.top-footer {
  background-image: url("img/footer-bg.jpg");
  background-color: rgba(244, 244, 244, 0.7);
  padding: 97px 0 126px 0;
  background-blend-mode: overlay;
  position: relative;
}

.top-footer:after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  border-right: 2px solid white;
}

.top-footer .left-block {
  display: flex;
  width: 50%;
  gap: 30px;
  margin-top: 40px;
}
.top-footer .left-block .name {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  margin-top: 20px;
  font-family: "Lato-Light";
}
.top-footer .left-block .name .pink {
  font-family: "Lato-Bold";
  font-size: 16px;
}
.top-footer .left-block .rb .quotes {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
}
.top-footer .left-block img {
  width: 83px;
  height: 83px;
}

.top-footer .right-block {
  width: 50%;
  text-align: center;
}

.top-footer .right-block h2 {
  margin-top: 60px;
  font-size: 24px;
}

.top-footer .right-block p {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 18px;
}

.top-footer .right-block input[type=text] {
  background: #E1E1E1;
  border: none;
  font-size: 14px;
  color: #222224;
  padding: 12px 60px 12px 30px;
  font-family: "Lato-Light";
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

.top-footer .right-block input[type=submit] {
  background: #F16D7F;
  border: none;
  font-size: 14px;
  color: #FFF;
  padding: 12px;
  font-family: "Lato-Light";
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -3px;
  cursor: pointer;
}

.middle-footer {
  padding: 80px 0;
}
.middle-footer .first {
  width: 43%;
}
.middle-footer .second, .middle-footer .third, .middle-footer .fourth {
  width: 19%;
}
.middle-footer .logo-container img {
  width: 59px;
  height: 51px;
}
.middle-footer .text-container {
  margin-top: 30px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}
.middle-footer .column {
  margin: 0 20px;
}
.middle-footer .column .heading {
  margin-top: 7px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
.middle-footer .column ul {
  font-size: 16px;
  line-height: 44px;
  font-weight: 400;
  letter-spacing: 0.025em;
  margin-top: 30px;
  list-style: none;
}
.middle-footer .column ul li a {
  color: #898989;
}

.bottom-footer {
  background: #e6e6e6;
  padding: 20px 0;
}

.bottom-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-footer ul {
  display: flex;
}

.bottom-footer ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  background: #fff;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.bottom-footer ul li svg {
  fill: #7a7a7a;
}

.bottom-footer ul li:hover {
  background: #F16D7F;
}

.bottom-footer ul li:hover path {
  fill: #fff;
}

.bottom-footer .copyright {
  color: #7a7a7a;
}

/* Tablet */
@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .fi-item img {
    width: 100%;
    height: 400px;
  }
  .fi-btn-all {
    margin-top: 0;
  }
}
@media (max-width: 1024px) {
  .main-banner .picture-block img {
    width: 386px;
    margin-left: -10px;
  }
  .main-banner .text-block .tb_inner {
    margin-top: 0;
  }
  .bold {
    font-size: 44px;
  }
  .main-banner .text-block {
    font-size: 24px;
  }
  .main-banner .text-block .tb_inner::before {
    top: -3px;
  }
  .small-block {
    height: 167px;
  }
  .wide-block {
    height: 116px;
  }
  .fi-item {
    width: calc(50% - 30px);
  }
  .advantages .container {
    flex-direction: column;
  }
  .advantages .advantage-item {
    width: 100%;
  }
  .advantages .advantage-item {
    max-width: 360px;
    margin: auto;
  }
  .top-footer .container {
    flex-direction: column;
  }
  .top-footer .left-block,
  .top-footer .right-block {
    width: 100%;
  }
  .top-footer {
    padding: 60px 0 120px 0;
    background-size: auto 100%;
  }
}
/* Mobile phone */
@media (max-width: 590px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .bottom-footer .container {
    flex-direction: column;
  }
  .bottom-footer .social-icons {
    order: 0;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .bottom-footer .copyright {
    order: 1;
    width: 100%;
    text-align: center;
  }
  .bottom-footer ul {
    justify-content: center;
  }
}
@media (max-width: 375px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-banner .text-block {
    font-size: 20px;
  }
  .bold {
    font-size: 35px;
  }
  .main-banner .text-block .tb_inner::before {
    width: 7px;
    height: 68px;
    left: -18px;
    top: 1px;
  }
}/*# sourceMappingURL=style.css.map */