@charset "UTF-8";
@font-face {
  font-family: "Lato-Bold";
  src: url("fonts/Lato-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Light";
  src: url("fonts/Lato-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

body {
  max-width: 100%;
  margin: auto;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
}

.column {
  flex-direction: column;
}

.center {
  text-align: center;
}

.bold {
  font-size: 60px;
  font-family: "Lato-Bold";
}

.pink {
  color: #f16d7f;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  padding: 10px 20px;
  color: #fff;
}
.btn .fa {
  margin-left: 12px;
  margin-top: 2px;
}

.btn-pink {
  background: #f16d7f;
}

/* Карточка товара */
.fi-item {
  display: flex;
  flex-direction: column;
  width: calc(25% - 20px);
  box-sizing: border-box;
  margin-bottom: 30px;
}
.fi-item img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
.fi-item img.backgroud {
  -o-object-fit: cover;
     object-fit: cover;
}
.fi-item .desc {
  padding: 20px;
  font-family: "Lato-Light";
  margin-top: -3px;
}
.fi-item .desc h4 {
  font-family: "Lato-Light";
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 15px;
}
.fi-item .desc p {
  margin-bottom: 15px;
}
.fi-item .desc .price {
  color: #F16D7F;
  font-size: 16px;
}
.fi-item .hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
}
.fi-item .hover a {
  color: #fff;
  padding: 10px 20px 10px 50px;
  border: 1px solid #fff;
  position: relative;
}
.fi-item .hover a::before {
  content: "";
  background: url("img/cart-white.svg");
  top: 9px;
  left: 17px;
  position: absolute;
  width: 29px;
  height: 21px;
  background-repeat: no-repeat;
  background-size: 75%;
}
.fi-item .fi-photo {
  position: relative;
  background-color: #eeeeee;
  height: 280px;
}
.fi-item:hover .hover {
  display: flex;
}
.fi-item:hover {
  cursor: pointer;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

/* Базовая кнопка */
.button {
  color: #f16d7f;
  border: 1px solid #f16d7f;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button img {
  width: 26px;
  height: 24px;
  margin-right: 14px;
}

.logo-container {
  width: 20%;
}
.logo-container a {
  display: flex;
  align-items: center;
  gap: 13px;
}
.logo-container__name {
  font-family: "Lato-Light";
  font-size: 27px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.logo-container__name span {
  font-family: "Lato-Bold";
}

/* Header */
header {
  background: #fff;
  position: relative;
  flex-direction: column;
}
header .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #ececec;
}
header .form-search {
  width: 62%;
}
header .form-search .search-container {
  width: 100%;
}
header .form-search .search-container__block {
  display: flex;
}
header .form-search .search-container__block details {
  padding: 10px;
  background-color: #cdcdcc;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  position: relative;
  cursor: pointer;
}
header .form-search .search-container__block details .popup {
  position: absolute;
  width: 200px;
  height: 300px;
  background: #fff;
  border: 1px solid rgb(186, 183, 183);
  border-radius: 5px;
  left: 0px;
  top: 39px;
  padding: 20px;
  z-index: 100;
}
header .form-search .search-container__block details summary {
  font-family: "Lato-Light";
  font-size: 14px;
  letter-spacing: 0.025em;
  color: #222222;
  list-style: none;
}
header .form-search .search-container__block details summary .fa {
  margin-left: 5px;
  font-size: 14px;
  color: #838383;
}
header .form-search .search-container__block details summary::-webkit-details-marker {
  display: none;
}
header .form-search .search-container__block input[type=text] {
  width: 317px;
  height: 38px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  margin-left: -1px;
  padding-left: 10px;
  outline: none;
}
header .form-search .search-container__block button[type=submit] {
  height: 40px;
  width: 40px;
  border-radius: 0px 3px 3px 0px;
  background: #fff;
  border: 1px solid #e6e6e6;
  margin-left: -1px;
  font-size: 14px;
  cursor: pointer;
}
header .menu-container {
  width: 18%;
  justify-content: space-between;
  display: flex;
}
header .menu-container a {
  display: flex;
}
header .menu-container .main-menu {
  display: flex;
}
header .bottom-header {
  display: flex;
  height: 51px;
}
header .bottom-header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #222222;
}
header .bottom-header ul .menu-list > a {
  text-transform: uppercase;
}
header .bottom-header ul li {
  position: relative;
  padding: 13px 20px;
}
header .bottom-header ul li:hover .mega-box {
  display: flex;
}
header .bottom-header ul li a {
  color: #222222;
}
header .bottom-header ul li .mega-box {
  position: absolute;
  left: 0;
  top: 47px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 10px 24px;
  box-sizing: border-box;
  z-index: 100;
  display: none;
  justify-content: space-between;
  gap: 50px;
}
header .bottom-header ul li .mega-box::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: -6px;
  left: 28px;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  transform: rotate(45deg);
  background: #fff;
}
header .bottom-header ul li .mega-box .mega-item {
  position: relative;
  width: 235px;
}
header .bottom-header ul li .mega-box .mega-title {
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  border-bottom: 1px solid #e8e8e8;
  margin: 10px 0;
}
header .bottom-header ul li .mega-box .mega-link {
  display: block;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
}
header .bottom-header ul li .mega-box .mega-pic {
  position: absolute;
  bottom: 0;
}
header .bottom-header ul li .mega-box .mega-pic img {
  width: 100%;
}
header .bottom-header ul li .mega-box .mega-pic .text {
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  right: 10px;
  bottom: 20px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 900;
}
header .bottom-header ul li .mega-box.right {
  right: 0;
  left: auto;
}
header .bottom-header ul li .mega-box.right::before {
  right: 40px;
  left: auto;
}

/* Breadcrumbs */
.breadcrumbs {
  height: 148px;
  background-color: #f8f3f4;
  display: flex;
  align-items: center;
}
.breadcrumbs .container {
  justify-content: space-between;
}
.breadcrumbs .container .name {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
}
.breadcrumbs .container .path {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
.breadcrumbs .container .path a {
  color: #636363;
}

/* Cart */
.cart {
  padding: 50px 0;
}
.cart .container {
  display: flex;
  flex-direction: column;
}
.cart table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}
.cart table tr {
  border-bottom: 1px solid #e8e8e8;
}
.cart table thead {
  text-transform: uppercase;
}
.cart table thead th {
  padding: 20px 0;
  font-size: 13px;
}
.cart table thead th:first-child {
  text-align: left;
}
.cart table tbody {
  color: #656565;
}
.cart table tbody .prod_details {
  display: flex;
  gap: 30px;
}
.cart table tbody .prod_details .name {
  font-weight: 600;
  color: #222222;
  margin-top: 10px;
  text-transform: uppercase;
}
.cart table tbody .prod_details ul {
  margin-top: 30px;
  list-style: none;
  font-weight: 600;
}
.cart table tbody .prod_details ul li {
  margin-bottom: 10px;
}
.cart table tbody .prod_details ul span {
  font-weight: 400;
}
.cart table tbody td {
  padding: 20px 0;
  height: 154px;
}
.cart table tbody td .count_inp {
  padding: 10px;
  width: 30px;
  text-align: center;
}
.cart table tbody td:not(:first-child) {
  text-align: center;
}
.cart table tbody svg {
  width: 15px;
}
.cart table tbody svg path {
  fill: #656565;
}
.cart .button-row {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.cart .button-row .button {
  color: #4A4A4A;
  padding: 10px 30px;
  border-color: #e8e8e8;
  font-size: 14px;
}
.cart .credentials {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 30px 0;
}
.cart .credentials .col {
  width: 100%;
}
.cart .credentials .select-wrapper {
  position: relative;
}
.cart .credentials .select-wrapper::before {
  content: "";
  right: 15px;
  top: 27px;
  width: 6px;
  height: 6px;
  border-left: 2px solid #bcbcbc;
  border-top: 2px solid #bcbcbc;
  background-color: transparent;
  position: absolute;
  transform: rotate(225deg);
}
.cart .credentials input, .cart .credentials select {
  border: 1px solid #e8e8e8;
  outline: 0;
  width: 100%;
  margin-top: 16px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  color: #bcbcbc;
  padding: 8px 15px;
  height: 35px;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #bcbcbc;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 0;
}
.cart .credentials .heading {
  font-size: 16px;
  color: #222222;
  text-transform: uppercase;
  font-weight: 600;
}
.cart .credentials .content .button {
  margin-top: 20px;
  color: #9f9f9f;
  border-color: #e8e8e8;
  padding: 10px 20px;
  box-sizing: border-box;
  width: -moz-fit-content;
  width: -o-fit-content;
  width: fit-content;
  color: #4A4A4A;
  font-size: 11px;
}
.cart .credentials .content p {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.cart .credentials .total_wrapper {
  background: rgb(245, 243, 243);
  padding: 40px;
  box-sizing: border-box;
  text-align: right;
}
.cart .credentials .total_wrapper .sub {
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 13px;
  text-transform: uppercase;
}
.cart .credentials .total_wrapper .sub span {
  margin-left: 20px;
}
.cart .credentials .total_wrapper .grand {
  font-weight: 600;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 20px;
  padding-bottom: 30px;
}
.cart .credentials .total_wrapper .grand span {
  color: #f16d7f;
  margin-left: 20px;
}
.cart .credentials .total_wrapper .button {
  background: rgb(241, 109, 127);
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 20px;
}

/* Filter product */
.filter-product {
  margin-top: 60px;
}
.filter-product .sidebar {
  width: 25%;
}
.filter-product .sidebar details {
  cursor: pointer;
  margin-bottom: 17px;
}
.filter-product .sidebar details[open] i {
  transform: rotate(180deg);
}
.filter-product .sidebar details summary {
  margin: 0 25px 0 0;
  padding: 10px 0 10px 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}
.filter-product .sidebar details summary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #f16d7f;
}
.filter-product .sidebar details summary::-webkit-details-marker {
  display: none;
}
.filter-product .sidebar details .list ul {
  list-style: none;
  padding-left: 13px;
  padding-top: 10px;
}
.filter-product .sidebar details .list li a {
  padding: 10px;
  display: block;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
}
.filter-product .right-panel {
  width: 75%;
  padding: 10px 25px;
  margin-bottom: 70px;
}
.filter-product .right-panel .filter {
  display: flex;
}
.filter-product .right-panel .filter .col {
  width: calc(33.33% - 20px);
}
.filter-product .right-panel .filter .col h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.filter-product .right-panel .filter .col .single-filter {
  width: 180px;
  line-height: 30px;
}
.filter-product .right-panel .filter .col .sizes {
  display: flex;
  flex-wrap: wrap;
  line-height: 30px;
  width: 250px;
  font-size: 14px;
}
.filter-product .right-panel .filter .col .sizes input {
  position: absolute;
  opacity: 0;
  margin-right: 9px;
}
.filter-product .right-panel .filter .col .sizes input + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.filter-product .right-panel .filter .col .sizes input + label::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #ebebeb;
  margin-right: 9px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.filter-product .right-panel .filter .col .sizes input:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.filter-product .right-panel .filter .col .rangebox {
  margin-top: 32px;
}
.filter-product .right-panel .filter .col .rangebox .values {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: #6f6e6e;
}
.filter-product .right-panel .filter .col .rangebox .ui-state-default, .filter-product .right-panel .filter .col .rangebox .ui-widget-content .ui-state-default {
  border: 0;
  background-color: #f16d7f;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  top: -4px;
}
.filter-product .right-panel .filter .col .rangebox .ui-widget.ui-widget-content {
  height: 6px;
  border-radius: 3px;
  border: 0;
  background-color: #f0f0f0;
}
.filter-product .right-panel .filter .col .rangebox .ui-slider-horizontal .ui-slider-range {
  background-color: #f16d7f;
}
.filter-product .right-panel .filter .col .form-group {
  width: 25%;
}
.filter-product .right-panel .sort {
  height: 50px;
  background-color: #f3f3f3;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
}
.filter-product .right-panel .sort .option {
  display: flex;
  align-items: center;
}
.filter-product .right-panel .sort label {
  color: #6f6e6e;
  font-size: 14px;
  padding: 5px 10px;
  height: 30px;
  border-radius: 0;
  background-color: #fff;
  border: 0.5px solid #6f6e6e;
  box-sizing: border-box;
}
.filter-product .right-panel .sort select {
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  color: #6f6e6e;
  padding: 0px 20px 0px 8px;
  height: 30px;
  border-radius: 0;
  background-color: #fff;
  border: 0.5px solid #6f6e6e;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 0;
}
.filter-product .right-panel .sort .select-wrapper {
  position: relative;
  margin-left: -1px;
}
.filter-product .right-panel .sort .select-wrapper::before {
  content: "";
  right: 8px;
  top: 10px;
  width: 6px;
  height: 6px;
  border-left: 2px solid #bcbcbc;
  border-top: 2px solid #bcbcbc;
  background-color: transparent;
  position: absolute;
  transform: rotate(225deg);
}
.filter-product .right-panel .products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.filter-product .right-panel .products .fi-item {
  margin-top: 35px;
  width: calc(33.33% - 20px);
}
.filter-product .right-panel .paginate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-product .right-panel .paginate .paginate_block ul {
  list-style: none;
  display: flex;
  border: 1px solid #e8e8e8;
  padding: 10px;
}
.filter-product .right-panel .paginate .paginate_block ul li {
  padding: 0 10px;
}
.filter-product .right-panel .paginate .paginate_block ul li a {
  color: #c4c4c4;
}
.filter-product .right-panel .paginate .paginate_block ul li.active a {
  color: #f16d7f;
}
.filter-product .button {
  border-radius: 3px;
}

/* Checkout */
.checkout {
  margin: 80px 0;
}
.checkout .container {
  display: flex;
  flex-direction: column;
}
.checkout details {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}
.checkout details summary {
  padding: 30px 0;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.checkout details summary::-webkit-details-marker {
  display: none;
}
.checkout details .info {
  display: flex;
  justify-content: space-between;
}
.checkout details .info .col {
  margin-top: 10px;
  padding-left: 35px;
  width: 50%;
}
.checkout details .info .register {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  color: #222222;
}
.checkout details .info .register_desc {
  margin-top: 15px;
  margin-bottom: 34px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
}
.checkout details .info .form-group {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 10px;
}
.checkout details .info .form-group input[type=radio] {
  position: absolute;
  opacity: 0;
  margin-right: 9px;
}
.checkout details .info .form-group input[type=radio] + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}
.checkout details .info .form-group input[type=radio] + label::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1.5px solid #111;
  margin-right: 9px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border-radius: 100%;
}
.checkout details .info .form-group input[type=radio] + label::after {
  content: "";
  display: none;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 9px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border-radius: 100%;
  position: absolute;
}
.checkout details .info .form-group input[type=radio]:checked + label::after {
  display: inline-block;
  background: #111;
  width: 8px;
  height: 8px;
  left: 2.5px;
}
.checkout details .info .form-group label span {
  color: #ff0d0d;
}
.checkout details .info .form-group input[type=text] {
  display: block;
}
.checkout details .info .form-group input[type=text] {
  width: 390px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.checkout details .info .req {
  color: #ff0d0d;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
.checkout details .info .login_block {
  display: flex;
}
.checkout details .info .login_block .forgot {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  margin-left: 32px;
  margin-top: 50px;
}
.checkout details .info .form-group.text {
  margin-bottom: 23px;
}
.checkout details .info .form-group.text input {
  margin-top: 10px;
}
.checkout details .info .register.two {
  margin-top: 25px;
}
.checkout details .info .advan {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
  margin-bottom: 10px;
}
.checkout details .info .button {
  margin-top: 30px;
  padding: 15px;
  color: #4a4a4a;
  border: 1px solid #e8e8e8;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  margin-bottom: 80px;
  text-transform: uppercase;
}

/* Product */
.product {
  height: 777px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eaeaea;
  position: relative;
}
.product .arrow {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.14);
  cursor: pointer;
}
.product .arrow-left {
  position: absolute;
  left: 0;
  top: calc(50% - 24px);
}
.product .arrow-right {
  position: absolute;
  right: 0;
  top: calc(50% - 24px);
}
.product .arrow-left .icon {
  position: relative;
}
.product .arrow-left .icon::before,
.product .arrow-right .icon::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 16px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}
.product .arrow-left .icon::before {
  transform: rotate(-45deg);
  right: 17px;
}
.product .arrow-right .icon::before {
  transform: rotate(135deg);
  left: 17px;
}
.product .container {
  display: flex;
  justify-content: center;
}

/* Product-description */
.product-description .container {
  position: relative;
  background-color: #fff;
  margin-top: -90px;
  border: 1px solid #eaeaea;
  padding: 70px 300px 120px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.product-description .container .mini-heading {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #f16d7f;
  padding-bottom: 16px;
  margin: auto;
  border-bottom: 1px solid #eaeaea;
  position: relative;
}
.product-description .container .mini-heading::after {
  content: "";
  bottom: -2px;
  left: calc(50% - 30px);
  width: 63px;
  height: 3px;
  background-color: #f16d7f;
  position: absolute;
}
.product-description .container .main-heading {
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  margin-top: 18px;
  margin-bottom: 65px;
}
.product-description .container .desc {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #5e5e5e;
  margin-bottom: 27px;
}
.product-description .container .charact {
  display: flex;
  gap: 44px;
  margin: auto;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #b9b9b9;
}
.product-description .container .charact span {
  color: #2f2f2f;
}
.product-description .container .price {
  padding-bottom: 45px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #ef5b70;
  border-bottom: 1px solid #eaeaea;
}
.product-description .container .button {
  margin: 30px 52px 0;
  height: 55px;
}
.product-description .container .options {
  margin: 63px 52px 0;
  display: flex;
  gap: 54px;
  text-align: left;
}
.product-description .container .options .option {
  width: 144px;
}
.product-description .container .options label {
  font-size: 14px;
  font-weight: 700;
}
.product-description .container .options select,
.product-description .container .options input {
  margin-top: 16px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  color: #bcbcbc;
  padding: 8px 15px;
  height: 35px;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #bcbcbc;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 0;
}
.product-description .container .options .select-wrapper {
  position: relative;
}
.product-description .container .options .select-wrapper::before {
  content: "";
  right: 15px;
  top: 27px;
  width: 6px;
  height: 6px;
  border-left: 2px solid #bcbcbc;
  border-top: 2px solid #bcbcbc;
  background-color: transparent;
  position: absolute;
  transform: rotate(225deg);
}

/* Main banner */
.main-banner {
  display: flex;
  background-image: url("img/image_frame_84.png");
  height: 665px;
  margin-top: -45px;
}
.main-banner .text-block {
  width: 50%;
  align-items: center;
  display: flex;
  color: #222;
  font-family: "Lato";
  font-size: 40px;
  font-weight: 700;
}
.main-banner .text-block .tb_inner {
  position: relative;
  margin-left: 100px;
}
.main-banner .text-block .tb_inner::before {
  content: "";
  background: url("img/pink_rect.svg");
  width: 13px;
  height: 122px;
  position: absolute;
  left: -30px;
  top: 3px;
}

/* Pictures block */
.pictures-block {
  display: flex;
  margin: 65px 0;
}
.pictures-block .column {
  width: calc(50% - 20px);
  margin: 0 10px;
}
.pictures-block .men {
  height: 542px;
}
.pictures-block .access {
  height: 261px;
}
.pictures-block .women {
  height: 261px;
  background-position-y: -55px;
}
.pictures-block .kids {
  height: 542px;
  background-position-x: -55px;
}
.pictures-block .pb-pic {
  display: flex;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.pictures-block .pb-pic .text {
  font-family: "Lato-Bold";
  font-size: 18px;
  line-height: 170%;
  background: #fff;
  color: #222222;
  position: absolute;
  top: 25px;
  padding: 10px;
  letter-spacing: 0.025em;
}
.pictures-block .pb-pink {
  font-family: "Lato-Bold";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0;
}

/* Featured items */
.featured-items {
  display: flex;
  margin: 65px 0;
}
.featured-items .container {
  flex-direction: column;
}
.featured-items .container .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.featured-items h2 {
  font-size: 30px;
}
.featured-items .container > .row > p {
  margin-top: 10px;
  font-family: "Lato";
  margin-bottom: 30px;
}
.featured-items .fi-items {
  flex-wrap: wrap;
}
.featured-items .fi-btn-all {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

/* Advantages-product */
.advantages-product {
  display: flex;
  padding: 65px 0;
  background: #222224;
}
.advantages-product .container {
  display: flex;
  justify-content: space-between;
}
.advantages-product .advantage-item {
  width: calc(33.33% - 30px);
  box-sizing: border-box;
  padding: 20px;
  color: #FBFBFB;
  text-align: center;
}
.advantages-product .advantage-item img {
  margin-bottom: 28px;
}
.advantages-product .advantage-item h2 {
  font-size: 19px;
  margin-bottom: 16px;
}
.advantages-product .advantage-item p {
  font-family: "Lato-Light";
  font-size: 14px;
}

/* Advantages */
.advantages {
  display: flex;
  padding: 65px 0;
}
.advantages .container {
  display: flex;
  background: #222224;
}
.advantages .col-left {
  width: 68%;
  background-image: url("img/back-advantage.png"), url("img/advantage-shadow.png");
  background-size: cover;
  position: relative;
  background-blend-mode: overlay;
}
.advantages .col-left .text-adv {
  font-size: 53.7px;
  line-height: 0.8;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  position: absolute;
  top: 100px;
  left: 40px;
}
.advantages .col-left .text-adv .pink {
  font-family: "Lato-Bold";
}
.advantages .col-left .text-adv .small {
  font-size: 32.2px;
}
.advantages .col-right {
  width: 32%;
  padding: 20px;
}
.advantages .advantage-item {
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  color: #FBFBFB;
  align-items: start;
}
.advantages .advantage-item__text {
  padding-left: 40px;
  padding-right: 10px;
}
.advantages .advantage-item img {
  margin-bottom: 28px;
}
.advantages .advantage-item h2 {
  font-size: 20px;
  margin-bottom: 16px;
}
.advantages .advantage-item p {
  font-family: "Lato-Light";
  font-size: 14px;
  line-height: 24px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  position: relative;
}
footer .top-footer {
  background-image: url("img/footer-bg.jpg");
  background-color: rgba(244, 244, 244, 0.7);
  padding: 97px 0 126px 0;
  background-blend-mode: overlay;
  position: relative;
}
footer .top-footer:after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  border-right: 2px solid white;
}
footer .top-footer .left-block {
  display: flex;
  width: 50%;
  gap: 30px;
  margin-top: 40px;
}
footer .top-footer .left-block .name {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  margin-top: 20px;
  font-family: "Lato-Light";
}
footer .top-footer .left-block .name .pink {
  font-family: "Lato-Bold";
  font-size: 16px;
}
footer .top-footer .left-block .rb .quotes {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
}
footer .top-footer .left-block img {
  width: 83px;
  height: 83px;
}
footer .top-footer .right-block {
  width: 50%;
  text-align: center;
}
footer .top-footer .right-block h2 {
  margin-top: 60px;
  font-size: 24px;
}
footer .top-footer .right-block p {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 18px;
}
footer .top-footer .right-block input[type=text] {
  background: #E1E1E1;
  border: none;
  font-size: 14px;
  color: #222224;
  padding: 12px 60px 12px 30px;
  font-family: "Lato-Light";
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}
footer .top-footer .right-block input[type=submit] {
  background: #F16D7F;
  border: none;
  font-size: 14px;
  color: #FFF;
  padding: 12px;
  font-family: "Lato-Light";
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -3px;
  cursor: pointer;
}
footer .middle-footer {
  padding: 80px 0;
}
footer .middle-footer .first {
  width: 43%;
}
footer .middle-footer .second, footer .middle-footer .third, footer .middle-footer .fourth {
  width: 19%;
}
footer .middle-footer .logo-container img {
  width: 59px;
  height: 51px;
}
footer .middle-footer .text-container {
  margin-top: 30px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}
footer .middle-footer .column {
  margin: 0 20px;
}
footer .middle-footer .column .heading {
  margin-top: 7px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
footer .middle-footer .column ul {
  font-size: 16px;
  line-height: 44px;
  font-weight: 400;
  letter-spacing: 0.025em;
  margin-top: 30px;
  list-style: none;
}
footer .middle-footer .column ul li a {
  color: #898989;
}
footer .bottom-footer {
  background: #e6e6e6;
  padding: 20px 0;
}
footer .bottom-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .bottom-footer ul {
  display: flex;
}
footer .bottom-footer ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  background: #fff;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}
footer .bottom-footer ul li svg {
  fill: #7a7a7a;
}
footer .bottom-footer ul li:hover {
  background: #F16D7F;
}
footer .bottom-footer ul li:hover path {
  fill: #fff;
}
footer .bottom-footer .copyright {
  color: #7a7a7a;
}

.single-product .featured-items h2 {
  margin-bottom: 50px;
}
.single-product .featured-items .fi-item img {
  -o-object-fit: contain;
  object-fit: contain;
  box-sizing: border-box;
  padding: 10px;
}

/* Tablet */
@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .fi-item img {
    width: 100%;
    height: 400px;
  }
  .fi-btn-all {
    margin-top: 0;
  }
}
@media (max-width: 1024px) {
  .main-banner .picture-block img {
    width: 386px;
    margin-left: -10px;
  }
  .main-banner .text-block .tb_inner {
    margin-top: 0;
  }
  .bold {
    font-size: 44px;
  }
  .main-banner .text-block {
    font-size: 24px;
  }
  .main-banner .text-block .tb_inner::before {
    top: -3px;
  }
  .small-block {
    height: 167px;
  }
  .wide-block {
    height: 116px;
  }
  .fi-item {
    width: calc(50% - 30px);
  }
  .advantages .container {
    flex-direction: column;
  }
  .advantages .advantage-item {
    width: 100%;
  }
  .advantages .advantage-item {
    max-width: 360px;
    margin: auto;
  }
  .top-footer .container {
    flex-direction: column;
  }
  .top-footer .left-block,
  .top-footer .right-block {
    width: 100%;
  }
  .top-footer {
    padding: 60px 0 120px 0;
    background-size: auto 100%;
  }
}
/* Mobile phone */
@media (max-width: 590px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .bottom-footer .container {
    flex-direction: column;
  }
  .bottom-footer .social-icons {
    order: 0;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .bottom-footer .copyright {
    order: 1;
    width: 100%;
    text-align: center;
  }
  .bottom-footer ul {
    justify-content: center;
  }
}
@media (max-width: 375px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-banner .text-block {
    font-size: 20px;
  }
  .bold {
    font-size: 35px;
  }
  .main-banner .text-block .tb_inner::before {
    width: 7px;
    height: 68px;
    left: -18px;
    top: 1px;
  }
}/*# sourceMappingURL=style.css.map */