@import 'scss/variables';
@import 'scss/fonts';

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}
body {
    max-width: 100%;
    margin: auto;
}
.container {
    display: flex;
    width: 100%;
    max-width: $container;
    margin: auto;
    box-sizing: border-box;
}
.column {
    flex-direction: column;
}
.center {
    text-align: center;
}
.bold {
    font-size: 60px;
    font-family: 'Lato-Bold';
}
.pink {
    color: $pink-color;
}
.uppercase {
    text-transform: uppercase;
}

.btn {
    padding: 10px 20px;
    color: $background;

    .fa {
        margin-left: 12px;
        margin-top: 2px;
    }
}

.btn-pink {
    background: $pink-color;
}

/* Карточка товара */
.fi-item {
    display: flex;
    flex-direction: column;
    width: calc(25% - 20px);
    box-sizing: border-box;
    margin-bottom: 30px;

    img {
        width: 100%;
        height: $photo-height;
        object-fit: cover;
    }
    img.backgroud {
        object-fit: cover;
    }
    .desc {
        padding: 20px;
        font-family: 'Lato-Light';
        margin-top: -3px;
    }
    .desc h4 {
        font-family: 'Lato-Light';
        text-transform: uppercase;
        font-size: 13px;
        margin-bottom: 15px;
    }
    .desc p {
        margin-bottom: 15px;
    }
    .desc .price {
        color: #F16D7F;
        font-size: 16px;
    }
    .hover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .7);
        display: none;
        align-items: center;
        justify-content: center;
    }
    .hover a {
        color: #fff;
        padding: 10px 20px 10px 50px;
        border: 1px solid #fff;
        position: relative;
    }
    .hover a::before {
        content: "";
        background: url('img/cart-white.svg');
        top: 9px;
        left: 17px;
        position: absolute;
        width: 29px;
        height: 21px;
        background-repeat: no-repeat;
        background-size: 75%;
    }
    .fi-photo {
        position: relative;
        background-color: $background-photo;
        height: $photo-height;
    }
    &:hover .hover {
        display: flex;
    }
    &:hover {
        cursor: pointer;
        box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
    }
}

/* Базовая кнопка */
.button {
    color: $pink-color;
    border: 1px solid $pink-color;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 26px;
        height: 24px;
        margin-right: 14px;
    }
}

.logo-container {
    width: 20%;
    
    a {
        display: flex;
        align-items: center;
        gap: 13px;
    }

    &__name {
        font-family: 'Lato-Light';
        font-size: 27px;
        line-height: 32px;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: $black;

        span {
            font-family: 'Lato-Bold';
        }
    }
}

/* Header */
header {
    background: $background;
    position: relative;
    flex-direction: column;

    .top-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        border-bottom: 1px solid #ececec;
    }

    .form-search {
        width: 62%;
    
        .search-container {
            width: 100%;
    
            &__block {
                display: flex;
    
                details {
                    padding: 10px;
                    background-color: #cdcdcc;
                    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
                    border: 1px solid #e6e6e6;
                    border-radius: 3px 0px 0px 3px;
                    position: relative;
                    cursor: pointer;
    
                    .popup {
                        position: absolute;
                        width: 200px;
                        height: 300px;
                        background: #fff;
                        border: 1px solid rgb(186, 183, 183);
                        border-radius: 5px;
                        left: 0px;
                        top: 39px;
                        padding: 20px;
                        z-index: 100;
                    }
    
                    summary {
                        font-family: 'Lato-Light';
                        font-size: 14px;
                        letter-spacing: 0.025em;
                        color: #222222;
                        list-style: none;
            
                        .fa {
                            margin-left: 5px;
                            font-size: 14px;
                            color: #838383;
                        }
            
                    }
                    
                    summary::-webkit-details-marker {
                        display: none;
                    }
    
                }
                
                input[type='text'] {
                    width: 317px;
                    height: 38px;
                    background-color: $background;
                    border: 1px solid #e6e6e6;
                    font-size: 14px;
                    margin-left: -1px;
                    padding-left: 10px;
                    outline:none;
                }
    
                button[type='submit'] {
                    height: 40px;
                    width: 40px;
                    border-radius: 0px 3px 3px 0px;
                    background: #fff;
                    border: 1px solid #e6e6e6;
                    margin-left: -1px;
                    font-size: 14px;
                    cursor: pointer;
                }
                
    
            }
    
            
        }
    }

    .menu-container {
        width: 18%;
        justify-content: space-between;
        display: flex;
    
        a {
            display: flex;
        }
    
        .main-menu {
            display: flex;
        }
    }

    .bottom-header {
        display: flex;
        height: 51px;
    
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin: auto;
            font-size: 14px;
            line-height: 26px;
            font-weight: 700;
            color: #222222;
    
            .menu-list > a {
                text-transform: uppercase;
            }
    
            li {
                position: relative;
                padding: 13px 20px;
    
                &:hover .mega-box {
                    display: flex;
                }
    
                a {
                    color: $black;
                }
    
                .mega-box {
                    position: absolute;
                    left: 0;
                    top: 47px;
                    background-color: $background;
                    border: 1px solid $grey-light;
                    border-radius: 5px;
                    padding: 10px 24px;
                    box-sizing: border-box;
                    z-index: 100;
                    display: none;
                    justify-content: space-between;
                    gap: 50px;
    
                    &::before {
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        top: -6px;
                        left: 28px;
                        border-top: 1px solid $grey-light;
                        border-left: 1px solid $grey-light;
                        transform: rotate(45deg);
                        background: $background;
                    }
                    .mega-item {
                        position: relative;
                        width: 235px;
                    }
    
                    .mega-title {
                        font-size: 14px;
                        line-height: 32px;
                        font-weight: 400;
                        text-transform: uppercase;
                        letter-spacing: 0.025em;
                        color: $black;
                        border-bottom: 1px solid $grey-light;
                        margin: 10px 0; 
                    }
    
                    .mega-link {
                        display: block;
                        line-height: 28px;
                        font-weight: 400;
                        letter-spacing: 0.025em;
                        color: #646464;
                    }
    
                    .mega-pic {
                        position: absolute;
                        bottom: 0;
    
                        img {
                            width: 100%;
                        }
    
                        .text {
                            position: absolute;
                            text-transform: uppercase;
                            color: $background;
                            right: 10px;
                            bottom: 20px;
                            font-size: 22px;
                            line-height: 24px;
                            font-weight: 900;
                        }
                    }
    
                }
    
                .mega-box.right {
                    right: 0;
                    left: auto;
    
                    &::before {
                        right: 40px;
                        left: auto;
                    }
                }
            }
        }
    }

}

/* Breadcrumbs */
.breadcrumbs {
    height: 148px;
    background-color: #f8f3f4;
    display: flex;
    align-items: center;

    .container {
        justify-content: space-between;

        .name {
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 900;
        }

        .path {
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            text-transform: uppercase;
            color: #636363;
        }
    }
}

/* Filter product */
.filter-product {
    margin-top: 60px;

    .sidebar {
        width: 25%;

        details {
            cursor: pointer;
            margin-bottom: 17px;

            &[open] i {
                transform: rotate(180deg);
            }

            summary {
                margin: 0 25px 0 0;
                padding: 10px 0 10px 20px;
                display: flex;
                justify-content: space-between;
                font-weight: 700;
                text-transform: uppercase;
                color: $pink-color;
                border-bottom: 1px solid $grey-light;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 5px;
                    background-color: $pink-color;
                }
            }
            
            summary::-webkit-details-marker {
                display: none;
            }
        
            .list ul {
                list-style: none;
                padding-left: 13px;
                padding-top: 10px;
            }
            .list li a {
                padding: 10px;
                display: block;
                line-height: 28px;
                font-weight: 400;
                letter-spacing: 0.025em;
                color: #646464;
            }

            

        }
            
    }

    .right-panel {
        width: 75%;
        padding: 10px 25px;
        margin-bottom: 70px;

        .filter {
            display: flex;

            .col {
                width: calc(33.33% - 20px);

                h4 {
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: 25px;
                }

                .single-filter {
                    width: 180px;
                    line-height: 30px;
                }

                .sizes {
                    display: flex;
                    flex-wrap: wrap;
                    line-height: 30px;
                    width: 250px;
                    font-size: 14px;

                    input {
                        position: absolute;
                        opacity: 0;
                        margin-right: 9px;
                    }

                    input+label {
                        display: inline-flex;
                        align-items: center;
                        user-select: none;
                      }
                      input+label::before {
                        content: '';
                        display: inline-block;
                        width: 13px;
                        height: 13px;
                        flex-shrink: 0;
                        flex-grow: 0;
                        border: 1px solid #ebebeb;
                        margin-right: 9px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 50% 50%;
                      }

                      input:checked+label::before {
                        border-color: #0b76ef;
                        background-color: #0b76ef;
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
                      }
                }

                .rangebox {
                    margin-top: 32px;

                    .values {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 20px;
                        color: #6f6e6e;
                    }

                    .ui-state-default, .ui-widget-content .ui-state-default {
                        border: 0;
                        background-color: $pink-color;
                        border-radius: 100%;
                        width: 14px;
                        height: 14px;
                        top: -4px;
                    }

                    .ui-widget.ui-widget-content {
                        height: 6px;
                        border-radius: 3px;
                        border: 0;
                        background-color: #f0f0f0;
                    }

                    .ui-slider-horizontal .ui-slider-range {
                        background-color: $pink-color;
                    }
                    
                }

                .form-group {
                    width: 25%;
                }


            }

        }

        .sort {
            height: 50px;
            background-color: #f3f3f3;
            margin-top: 40px;
            margin-bottom: 10px;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            gap: 10px;

            .option {
                display: flex;
                align-items: center;
            }

            label {
                color: #6f6e6e;
                font-size: 14px;
                padding: 5px 10px;
                height: 30px;
                border-radius: 0;
                background-color: $background;
                border: .5px solid #6f6e6e;
                box-sizing: border-box;
            }

            select {
                width: 100%;
                box-sizing: border-box;
                font-size: 14px;
                font-weight: 400;
                color: #6f6e6e;
                padding: 0px 20px 0px 8px;
                height: 30px;
                border-radius: 0;
                background-color: $background;
                border: .5px solid #6f6e6e;
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                box-shadow: 0;
            }

            .select-wrapper {
                position: relative;
                margin-left: -1px;
            }

            .select-wrapper::before {
                content: "";
                right: 8px;
                top: 10px;
                width: 6px;
                height: 6px;
                border-left: 2px solid #bcbcbc;
                border-top: 2px solid #bcbcbc;
                background-color: transparent;
                position: absolute;
                transform: rotate(225deg);
            }
        }

        .products {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .fi-item {
                margin-top: 35px;
                width: calc(33.33% - 20px);
            }
        }

        .paginate {
            display: flex;
            justify-content: space-between;
            align-items: center;
        

            .paginate_block {

                ul {
                    list-style: none;
                    display: flex;
                    border: 1px solid $grey-light;
                    padding: 10px;

                    li {
                        padding: 0 10px;
                    }
                    
                    li a {
                        color: #c4c4c4;
                    }

                    li.active a {
                        color: $pink-color;
                    }
                }
            }
        }
    }

    .button {
        border-radius: 3px;
    }
    
}

/* Checkout */
.checkout {
    margin: 80px 0;

    .container {
        display: flex;
        flex-direction: column;
    }

    details {
        width: 100%;
        border-bottom: 1px solid $grey-light;

        summary {
            padding: 30px 0;
            cursor: pointer;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #222222;
        }

        summary::-webkit-details-marker {
            display: none;
        }

        .info {
            display: flex;
            justify-content: space-between;

            .col {
                margin-top: 10px;
                padding-left: 35px;
                width: 50%;
            }

            .register {
                font-size: 13px;
                line-height: 1.2;
                font-weight: 600;
                text-transform: uppercase;
                color: #222222;
            }

            .register_desc {
                margin-top: 15px;
                margin-bottom: 34px;
                font-size: 13px;
                line-height: 20px;
                font-weight: 400;
                color: #b3b2b2;
            }

            .form-group {
                font-size: 12px;
                line-height: 1.2;
                font-weight: 400;
                text-transform: uppercase;
                color: #222222;
                margin-bottom: 10px;

                input[type='radio'] {
                    position: absolute;
                    opacity: 0;
                    margin-right: 9px;
                }

                input[type='radio']+label {
                    display: inline-flex;
                    align-items: center;
                    user-select: none;
                    position: relative;
                }
                
                input[type='radio']+label::before {
                    content: '';
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    flex-shrink: 0;
                    flex-grow: 0;
                    border: 1.5px solid #111;
                    margin-right: 9px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 50% 50%;
                    border-radius: 100%;
                }

                input[type='radio']+label::after {
                    content: '';
                    display: none;
                    width: 10px;
                    height: 10px;
                    flex-shrink: 0;
                    flex-grow: 0;
                    margin-right: 9px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 50% 50%;
                    border-radius: 100%;
                    position: absolute;
                }

                input[type='radio']:checked+label::after {
                    display: inline-block;
                    background: #111;
                    width: 8px;
                    height: 8px;
                    left: 2.5px;
                }

                label span {
                    color: #ff0d0d;
                }

                input[type='text'] {
                    display: block;
                }

                input[type='text'] {
                    width: 390px;
                    height: 45px;
                    background-color: #ffffff;
                    border: 1px solid #eaeaea;
                }
                
            }

            .req {
                color: #ff0d0d;
                font-size: 13px;
                line-height: 20px;
                font-weight: 400;
            }

            .login_block {
                display: flex;

                .forgot {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    color: #222222;
                    margin-left: 32px;
                    margin-top: 50px;
                }
            }

            .form-group.text {
                margin-bottom: 23px;

                input {
                    margin-top: 10px;
                }
            }

            .register.two {
                margin-top: 25px;
            }

            .advan {
                font-size: 13px;
                line-height: 20px;
                font-weight: 400;
                color: #b3b2b2;
                margin-bottom: 10px;
            }

            .button {
                margin-top: 30px;
                padding: 15px;
                color: #4a4a4a;
                border: 1px solid $grey-light;
                font-size: 16px;
                font-weight: 700;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 180px;
                margin-bottom: 80px;
                text-transform: uppercase;
            }
        }
    }
}

/* Product */
.product {
    height: 777px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eaeaea;
    position: relative;

    .arrow {
        width: 47px;
        height: 47px;
        background-color: rgba(42,42,42,0.14);
        cursor: pointer;
    }

    .arrow-left {
        position: absolute;
        left: 0;
        top: calc(50% - 24px);
        
    }

    .arrow-right {
        position: absolute;
        right: 0;
        top: calc(50% - 24px);
    }

    .arrow-left .icon {
        position: relative;
    }

    .arrow-left .icon::before,
    .arrow-right .icon::before  {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        top: 16px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
    }

    .arrow-left .icon::before {
        transform: rotate(-45deg);
        right: 17px;
    }

    .arrow-right .icon::before {
        transform: rotate(135deg);
        left: 17px;
    }

    .container {
        display: flex;
        justify-content: center;
    }
}

/* Product-description */
.product-description {

    .container {
        position: relative;
        background-color: $background;
        margin-top: -90px;
        border: 1px solid #eaeaea;
        padding: 70px calc(($container - 600px) / 2 ) 120px;
        z-index: 10;
        display: flex;
        flex-direction: column;
        text-align: center;

        .mini-heading {
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
            color: $pink-color;
            padding-bottom: 16px;
            margin: auto;
            border-bottom: 1px solid #eaeaea;
            position: relative;
        }

        .mini-heading::after {
            content: "";
            bottom: -2px;
            left: calc(50% - 30px);
            width: 63px;
            height: 3px;
            background-color: $pink-color;
            position: absolute;
        }


        .main-heading {
            font-size: 18px;
            line-height: 24px;
            font-weight: 900;
            text-transform: uppercase;
            color: #4d4d4d;
            margin-top: 18px;
            margin-bottom: 65px;
        }

        .desc {
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            color: #5e5e5e;
            margin-bottom: 27px;
        }

        .charact {
            display: flex;
            gap: 44px;
            margin: auto;
            margin-bottom: 35px;
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
            color: #b9b9b9;

            span {
                color: #2f2f2f;
            }
        }

        .price {
            padding-bottom: 45px;
            font-size: 24px;
            line-height: 24px;
            font-weight: 700;
            color: #ef5b70;
            border-bottom: 1px solid #eaeaea;
        }

        .button {
            margin: 30px 52px 0;
            height: 55px;
        }

        .options {
            margin: 63px 52px 0;
            display: flex;
            gap: 54px;
            text-align: left;

            .option {
                width: 144px;
            }

            label {
                font-size: 14px;
                font-weight: 700;
            }

            select,
            input {
                margin-top: 16px;
                width: 100%;
                box-sizing: border-box;
                font-size: 14px;
                font-weight: 400;
                color: #bcbcbc;
                padding: 8px 15px;
                height: 35px;
                border-radius: 0;
                background-color: $background;
                border: 1px solid #bcbcbc;
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                box-shadow: 0;
            }

            .select-wrapper {
                position: relative;
            }

            .select-wrapper::before {
                content: "";
                right: 15px;
                top: 27px;
                width: 6px;
                height: 6px;
                border-left: 2px solid #bcbcbc;
                border-top: 2px solid #bcbcbc;
                background-color: transparent;
                position: absolute;
                transform: rotate(225deg);
            }
        }
    }
}

/* Main banner */
.main-banner {
    display: flex;
    background-image: url('img/image_frame_84.png');
    height: 665px;
    margin-top: -45px;

    .text-block {
        width: 50%;
        align-items: center;
        display: flex;
        color: #222;
        font-family: 'Lato';
        font-size: 40px;
        font-weight: 700;
    }

    .text-block .tb_inner {
        position: relative;
        margin-left: 100px;
    }

    .text-block .tb_inner::before {
        content: "";
        background: url('img/pink_rect.svg');
        width: 13px;
        height: 122px;
        position: absolute;
        left: -30px;
        top: 3px;
    }
}

/* Pictures block */
.pictures-block {
    display: flex;
    margin: 65px 0;

    .column {
        width: calc(50% - 20px);
        margin: 0 10px;
    }
    .men {
        height: 542px;
    }
    .access {
        height: 261px;
    }
    .women {
        height: 261px;
        background-position-y: -55px;
    }
    .kids {
        height: 542px;
        background-position-x: -55px;
    }
    .pb-pic {
        display: flex;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }
    .pb-pic .text {
        font-family: 'Lato-Bold';
        font-size: 18px;
        line-height: 170%;
        background: $background;
        color: $black;
        position: absolute;
        top: 25px;
        padding: 10px;
        letter-spacing: 0.025em;
    }
    .pb-pink {
        font-family: 'Lato-Bold';
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 0;
    }
}

/* Featured items */
.featured-items {
    display: flex;
    margin: 65px 0;

    .container {
        flex-direction: column;
    }
    .container .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    h2 {
        font-size: 30px;
    }
    .container > .row > p {
        margin-top: 10px;
        font-family: 'Lato';
        margin-bottom: 30px;
    }
    .fi-items {
        flex-wrap: wrap;
    }
    .fi-btn-all {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
}

/* Advantages-product */
.advantages-product {
    display: flex;
    padding: 65px 0;
    background: #222224;

    .container {
        display: flex;
        justify-content: space-between;
    }
    .advantage-item {
        width: calc(33.33% - 30px);
        box-sizing: border-box;
        padding: 20px;
        color: #FBFBFB;
        text-align: center;
    }
    .advantage-item img {
        margin-bottom: 28px;
    }
    .advantage-item h2 {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .advantage-item p {
        font-family: "Lato-Light";
        font-size: 14px;
    }
}

/* Advantages */
.advantages {
    display: flex;
    padding: 65px 0;

    .container {
        display: flex;
        background: #222224;
    }
    .col-left {
        width: 68%;
        background-image: url('img/back-advantage.png'), url('img/advantage-shadow.png');
        background-size: cover;
        position: relative;
        background-blend-mode: overlay;

        .text-adv {
            font-size: 53.7px;
            line-height: .8;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #ffffff;
            position: absolute;
            top: 100px;
            left: 40px;

            .pink {
                font-family: 'Lato-Bold';
            }

            .small {
                font-size: 32.2px;
            }
        }
    }
    .col-right {
        width: 32%;
        padding: 20px;
    }
    .advantage-item {
        display: flex;
        box-sizing: border-box;
        padding: 20px;
        color: #FBFBFB;
        align-items: start;

        &__text{
            padding-left: 40px;
            padding-right: 10px;
        }
    }
    .advantage-item img {
        margin-bottom: 28px;
    }
    .advantage-item h2 {
        font-size: 20px;
        margin-bottom: 16px;
    }
    .advantage-item p {
        font-family: "Lato-Light";
        font-size: 14px;
        line-height: 24px;
    }
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    position: relative;

    .top-footer {
        background-image: url('img/footer-bg.jpg');
        background-color: rgba(244, 244, 244, .7);
        padding: 97px 0 126px 0;
        background-blend-mode: overlay;
        position: relative;
    }
    .top-footer:after {
        content: "";
        display: block;
        position: absolute;
        width: 2px;
        height: 100%;
        top: 0;
        left: 50%;
        border-right: 2px solid white;

    }
    .top-footer .left-block {
        display: flex;
        width: 50%;
        gap: 30px;
        margin-top: 40px;

        .name {
            font-size: 14px;
            line-height: 26px;
            font-weight: 700;
            letter-spacing: 0.025em;
            margin-top: 20px;
            font-family: "Lato-Light";

            .pink {
                font-family: "Lato-Bold";
                font-size: 16px;
            }
        }

        .rb .quotes {
            font-size: 16px;
            line-height: 26px;
            font-weight: 400;
            font-style: italic;
            letter-spacing: 0.025em;
        }

        img {
            width: 83px;
            height: 83px;
        }

    }
    .top-footer .right-block {
        width: 50%;
        text-align: center;
    }
    .top-footer .right-block h2 {
        margin-top: 60px;
        font-size: 24px;
    }
    .top-footer .right-block p {
        margin-top: 10px;
        margin-bottom: 40px;
        font-size: 18px;
    }
    .top-footer .right-block input[type="text"] {
        background: #E1E1E1;
        border: none;
        font-size: 14px;
        color: #222224;
        padding: 12px 60px 12px 30px;
        font-family: "Lato-Light";
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        outline: none;
    }
    .top-footer .right-block input[type="submit"] {
        background: #F16D7F;
        border: none;
        font-size: 14px;
        color: #FFF;
        padding: 12px;
        font-family: "Lato-Light";
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -3px;
        cursor: pointer;
    }

    .middle-footer {
        padding: 80px 0;

        .first {
            width: 43%;
        }
        
        .second, .third, .fourth {
            width: 19%;
        }

        .logo-container img {
            width: 59px;
            height: 51px;
        }

        .text-container {
            margin-top: 30px;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: #898989;
        }

        .column {
            margin: 0 20px;
        }

        .column .heading {
            margin-top: 7px;
            font-size: 18px;
            line-height: 26px;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #f16d7f;
        }

        .column ul {
            font-size: 16px;
            line-height: 44px;
            font-weight: 400;
            letter-spacing: 0.025em;
            margin-top: 30px;
            list-style: none;
        }

        .column ul li a {
            color: #898989;
        }
    }

    .bottom-footer {
        background: #e6e6e6;
        padding: 20px 0;
    }
    .bottom-footer .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bottom-footer ul {
        display: flex;
    }
    .bottom-footer ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        background: #fff;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        cursor: pointer;
    }
    .bottom-footer ul li svg{
        fill: #7a7a7a;
    }
    .bottom-footer ul li:hover {
        background: #F16D7F;
    }
    .bottom-footer ul li:hover path{
        fill: #fff;
    }
    .bottom-footer .copyright {
        color: #7a7a7a;
    }
}

.single-product .featured-items {

    h2 {
        margin-bottom: 50px;
    }

    .fi-item img {
        -o-object-fit: contain;
        object-fit: contain;
        box-sizing: border-box;
        padding: 10px;
    }

}

/* Tablet */
@media (max-width: 1200px) {
    .container {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
    .fi-item img {
        width: 100%;
        height: 400px;   
    }
    .fi-btn-all {
        margin-top: 0;
    }
}

@media (max-width: 1024px) {
    .main-banner .picture-block img {
        width: 386px;
        margin-left: -10px;
    }
    .main-banner .text-block .tb_inner {
        margin-top: 0;
    }
    .bold {
        font-size: 44px;
    }
    .main-banner .text-block {
        font-size: 24px;
    }
    .main-banner .text-block .tb_inner::before {
        top: -3px;
    }
    .small-block {
        height: 167px;
    }
    .wide-block {
        height: 116px;
    }
    .fi-item {
        width: calc(50% - 30px);
    }
    .advantages .container {
        flex-direction: column;
    }
    .advantages .advantage-item {
        width: 100%;
    }
    .advantages .advantage-item {
        max-width: 360px;
        margin: auto;
    }
    .top-footer .container {
        flex-direction: column;
    }
    .top-footer .left-block,
    .top-footer .right-block {
        width: 100%;
    }
    .top-footer {
        padding: 60px 0 120px 0;
        background-size: auto 100%;
    }
}

/* Mobile phone */
@media (max-width: 767px) {

}

@media (max-width: 590px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .bottom-footer .container {
        flex-direction: column;
    }
    .bottom-footer .social-icons {
        order: 0;
        width: 100%;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .bottom-footer .copyright {
        order: 1;
        width: 100%;
        text-align: center;
    }
    .bottom-footer ul {
        justify-content: center;
    }
}

@media (max-width: 375px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .main-banner .text-block {
        font-size: 20px;
    }
    .bold {
        font-size: 35px;
    }
    .main-banner .text-block .tb_inner::before {
        width: 7px;
        height: 68px;
        left: -18px;
        top: 1px;
    }
}